@import "tailwindcss";

:root {
  --bg-dark: #181818;
  --bg-card: #2d2d30;
  --border-color: #3c4043;
  --text-primary: #ffffff;
  --text-muted: #aaaaaa;
  --primary: #f4b400;
  --accent-blue: #4285f4;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-primary);
  font-family: 'Inter', sans-serif;
  margin: 0;
}
